
RFS_Project/Plugins/Wwise/Binaries/Win64/UnrealEditor-AkAudio.pdb
RFS_Project/Plugins/Wwise/Binaries/Win64/UnrealEditor-AkAudioMixer.pdb
RFS_Project/Plugins/Wwise/Binaries/Win64/UnrealEditor-AudiokineticTools.pdb
RFS_Project/Plugins/Wwise/Binaries/Win64/UnrealEditor-Wwise.pdb
RFS_Project/Plugins/Wwise/Binaries/Win64/UnrealEditor-WwiseConcurrency.pdb
RFS_Project/Plugins/Wwise/Binaries/Win64/UnrealEditor-WwiseFileHandler.pdb
RFS_Project/Plugins/Wwise/Binaries/Win64/UnrealEditor-WwiseProjectDatabase.pdb
RFS_Project/Plugins/Wwise/Binaries/Win64/UnrealEditor-WwiseResourceCooker.pdb
RFS_Project/Plugins/Wwise/Binaries/Win64/UnrealEditor-WwiseResourceLoader.pdb
RFS_Project/Plugins/Wwise/Binaries/Win64/UnrealEditor-WwiseSimpleExternalSource.pdb
RFS_Project/Plugins/Wwise/Binaries/Win64/UnrealEditor-WwiseSoundEngine.pdb
RFS_Project/Plugins/Wwise/Binaries/Win64/UnrealEditor-WwiseSoundEngine_2022_1.pdb
